build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
# python path configs for MX Macs
build --action_env PYTHON_BIN_PATH="/opt/homebrew/bin/python3"
build --action_env PYTHON_LIB_PATH="/opt/homebrew/lib/python3.11/site-packages"
# python path configs for x86 Macs
# build --action_env PYTHON_BIN_PATH="/usr/local/bin/python3"
# build --action_env PYTHON_LIB_PATH="/usr/local/lib/python3.11/site-packages/"
